/* styles.css */
/* Hilangkan padding dan margin dari seluruh elemen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(74, 121, 142, 1);
    margin: 0;
}

/* Halaman penuh dengan layout fleksibel */
.halaman {
    padding: 0;
    min-height: 100vh;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.back-arrow:hover {
    color: #ffcc00;
    cursor: pointer;
    transform: scale(1.2);
}




/* Styling untuk judul */
.judul {
    position: relative;
    width: 100vw;
    height: 180px;
    background-image: url('background2.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    top: 0;
}

/* Teks h2 (Judul) */
.judul h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Paragraf di bawah judul */
.judul p {
    font-size: 16px;
    text-align: center;
    max-width: 800px;
}
/* Grid untuk card */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Membuat 3 kolom */
    gap: 50px; /* Jarak antar card */
    width: 80%; /* Sesuaikan lebar container */
    margin: 20px 0px 0px 0px;
    
}

.grid-item {
    background-color: transparent;
}

.card2 {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 350px; /* Atur tinggi card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: white; /* Warna latar belakang card */
}

.card2 img {
    width: 100%;
    height: 100%; /* Atur tinggi gambar */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.card2 h3, .card2 p {
    padding: 10px;
    position: relative; /* Memungkinkan positioning teks di atas gambar */
    
}

.card2 h3 {
    font-size: 22px;
    text-transform: uppercase;
    padding: 20px 0px 0px 100px;
}

.card2 p {
    font-size: 14px;
    flex-grow: 1; /* Membuat paragraf tumbuh untuk mengisi ruang kosong */
    padding:40px 20px 0px 20px;
    text-align: justify;
}

.card2-arrow {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: none;
    padding: 7px 15px 7px 15px;
    transition: transform 0.3s;
    background-color: rgba(240, 105, 26, 1);
    border-radius: 20px;
}

.card2-arrow:hover {
    transform: scale(1.2);
    background-color: #ffcc00;
    cursor: pointer;
}